[Unit]
Description= Ativa PyAccess Point

[Service]
Type=oneshot
ExecStart=/usr/local/bin/accessPoint.sh
RemainAfterExit=yes

[Install]
#WantedBy=multi-user.target
WantedBy=default.target

